<div class="text-center">
  <% if logged_in? %>
    <h1>your tasks</h1>
  <% else %>
    <h1>welcome! please login!</h1>
  <% end %>
</div>
      
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if logged_in? %>
      <aside class="col-md-4">
        <h3>new task</h3>
        <%= render 'layouts/form', task: @user.tasks.new %>
      </aside>
      <div class="col-xs-8">
        <%= render 'tasks/index', tasks: @user.tasks.order(created_at: :desc).page(params[:page]).per(10) %>
      </div>
      
    <% else %>
      <table class="table table-striped">
        <tr>
          <th>name</th>
          <th>email</th>
        </tr>
        <tr>
          <td><%= @user.name %></td>
          <td><%= @user.email %></td>
        </tr>
      </table>
      
    <% end %>
  </div>
</div>