<div class="center jumbotron">
  <div class="text-center">
    <h1>Task Lists</h1>
  </div>
  <%= link_to "new registration", new_user_path ,class: "btn btn-primary" %>
  <%= link_to "login", login_path ,class: "btn btn-default" %>
</div>