<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-6">contents</th>
      <th class="col-md-4">status</th>
      <th class="col-md-2">created time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to task.content, task_path(task) %> </td>
      <td><%= task.status %></td>
      <td><%= task.user.name %><span class="text-muted">posted at <%= task.created_at.strftime("%Y/%m/%d") %></span></td>
    </tr>
  </tbody>
</table>