<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>task contents</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @task.id %></td>
      <td><%= @task.content %></td>
    </tr>
  </tbody>
</table>